<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .titleArea {
        min-height: 30px;
        margin: 10px 0 20px;
        border-bottom: 1px solid #e8e8e8;
    }

    body, code {
        font: 0.75em Verdana,Dotum,AppleGothic,sans-serif;
        color: #353535;
        background: #fff;
    }

    div {
        display: block;
    }

</style>
<body>
<div class="titleArea "><h2>적립금</h2>
    <p>고객님의 사용가능 적립금 금액 입니다.</p>
</div>
</body>
</html>