<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

	<title>Elite Shoppy an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Contact ::
		w3layouts</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
	<script type="application/x-javascript"> addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	} </script>

	<!-- signUp js -->
	<script src="js/singUp.js"></script>

	<!--//tags -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
		  rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header -->
<div class="header" id="home">
	<div class="container">
		<ul>
			<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt"
																		  aria-hidden="true"></i> Sign In </a></li>
			<li><a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o"
																		   aria-hidden="true"></i> Sign Up </a></li>
			<li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a
					href="mailto:info@example.com">info@example.com</a></li>
		</ul>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">
		<div class="col-md-4 header-middle">
			<form action="#" method="post">
				<input type="search" name="search" placeholder="Search here..." required="">
				<input type="submit" value=" ">
				<div class="clearfix"></div>
			</form>
		</div>
		<!-- header-bot -->
		<div class="col-md-4 logo_agile">
			<h1><a href="/"><span>E</span>lite Shoppy <i class="fa fa-shopping-bag top_logo_agile_bag"
														 aria-hidden="true"></i></a></h1>
		</div>
		<!-- header-bot -->
		<div class="col-md-4 agileits-social top_content">
			<ul class="social-nav model-3d-0 footer-social w3_agile_social">
				<li class="share">Share On :</li>
				<li>
					<a onclick="snsShare('facebook','www.naver.com',null)">
						<img src="https://ifh.cc/g/LHqxOo.jpg" width="23" height="23">
					</a>
				</li>
				<li>
					<a onclick="snsShare('twitter',window.location.href,'쇼핑몰')">
						<img src="https://ifh.cc/g/aDLdch.jpg" width="23" height="23">
					</a>
				</li>
				<li>
					<a onclick="snsShare('kakao',window.location.href,'null')">
						<img src="https://ifh.cc/g/jQN9Dj.jpg" width="24" height="24">
					</a>
				</li>
				<a onclick="sendLink()">
					<img src="https://ifh.cc/g/27B9v4.png" width="23" height="23">
				</a>
				<li>
					<a onclick="clipText(window.location.href)">
						<img src="https://ifh.cc/g/86kYss.png" width="23" height="23">
					</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav menu__list">
							<li class="active menu__item"><a class="menu__link" href="/">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class=" menu__item"><a class="menu__link" href="/about">About</a></li>
							<li class="dropdown menu__item">
								<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button"
								   aria-haspopup="true" aria-expanded="false">Men's wear <span class="caret"></span></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="agile_inner_drop_nav_info">
										<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
											<a href="/mens"><img src="images/top2.jpg" alt=" "/></a>
										</div>
										<div class="col-sm-3 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li><a href="/mens">Clothing</a></li>
												<li><a href="/mens">Wallets</a></li>
												<li><a href="/mens">Footwear</a></li>
												<li><a href="/mens">Watches</a></li>
												<li><a href="/mens">Accessories</a></li>
												<li><a href="/mens">Bags</a></li>
												<li><a href="/mens">Caps & Hats</a></li>
											</ul>
										</div>
										<div class="col-sm-3 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li><a href="/mens">Jewellery</a></li>
												<li><a href="/mens">Sunglasses</a></li>
												<li><a href="/mens">Perfumes</a></li>
												<li><a href="/mens">Beauty</a></li>
												<li><a href="/mens">Shirts</a></li>
												<li><a href="/mens">Sunglasses</a></li>
												<li><a href="/mens">Swimwear</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class="dropdown menu__item">
								<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button"
								   aria-haspopup="true" aria-expanded="false">Women's wear <span
										class="caret"></span></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="agile_inner_drop_nav_info">
										<div class="col-sm-3 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li><a href="/womens">Clothing</a></li>
												<li><a href="/womens">Wallets</a></li>
												<li><a href="/womens">Footwear</a></li>
												<li><a href="/womens">Watches</a></li>
												<li><a href="/womens">Accessories</a></li>
												<li><a href="/womens">Bags</a></li>
												<li><a href="/womens">Caps & Hats</a></li>
											</ul>
										</div>
										<div class="col-sm-3 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li><a href="/womens">Jewellery</a></li>
												<li><a href="/womens">Sunglasses</a></li>
												<li><a href="/womens">Perfumes</a></li>
												<li><a href="/womens">Beauty</a></li>
												<li><a href="/womens">Shirts</a></li>
												<li><a href="/womens">Sunglasses</a></li>
												<li><a href="/womens">Swimwear</a></li>
											</ul>
										</div>
										<div class="col-sm-6 multi-gd-img multi-gd-text ">
											<a href="/womens"><img src="images/top1.jpg" alt=" "/></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class=" menu__item menu__item--current"><a class="menu__link"
																		   href="/contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1">
				<form action="#" method="post" class="last">
					<input type="hidden" name="cmd" value="_cart">
					<input type="hidden" name="display" value="1">
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down"
																						aria-hidden="true"></i></button>
				</form>

			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
<!-- Modal1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body modal-body-sub_agile">
				<div class="col-md-8 modal_body_left modal_body_left1">
					<h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
					<!--                    <form action="#" method="post">-->
					<div class="styled-input agile-styled-input-top">
						<input type="email" name="member_id" id="checkid" required="">
						<label>Email ID</label>
						<span></span>
					</div>
					<div class="styled-input">
						<input type="password" name="Fpassword" id="checkpwd" required="">
						<label>Password</label>
						<span></span>
					</div>





					<!-- 네이버 로그인 창으로 이동 -->

					<div id="naver_kakao" style="text-align:center">
						<input type="button" class="btn btn-primary" id="login_btn" style="width: 183px;height:40px" value="Sign In">
						<br/>
						<a href="#" id="naver_btn">
							<img width="183"
								 src="https://developers.naver.com/doc/review_201802/CK_bEFnWMeEBjXpQ5o8N_20180202_7aot50.png"/>
						</a>
						<br>

						<!--카카오톡 로그인-->
						<th:if test="${userId eq null}">
							<a href="https://kauth.kakao.com/oauth/authorize?client_id=0665625ea60c596cb2a299d0d5d3d350&redirect_uri=http://localhost:8585/login/kakao&response_type=code">
								<img src="/images/kakao_login_medium_narrow.png">
							</a>
						</th:if>
					</div>
					<script>
						$(document).ready(function () {
							$("#naver_btn").click(function () {
								$.ajax({
									type: "post",
									url: "/naver",
									success: function (data) {
										console.log("=========================hihi");
										console.log(data);
										console.log("=========================hihi");
										if (data != null) {
											let datas = "";
											datas = data;
											console.log("=========================hihi");
											/*$("#naver_btn").src("href").val(data);*/
											console.log("=======================================================" + data);
											location.href = datas;

										}
									}
								});
							});

						});
					</script>
					<div class="clearfix"></div>
					<p><a href="#" data-toggle="modal" data-target="#myModal2"> Don't have an account?</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //Modal content-->
	</div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body modal-body-sub_agile">
				<div class="col-md-8 modal_body_left modal_body_left1">
					<h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>

					<!--<form action="#" method="post">-->
					<div class="styled-input agile-styled-input-top">
						<input type="text" name="name" id="name" required="">
						<label>Name</label>
						<span></span>
					</div>

					<div class="styled-input">
						<input type="email" id="member_id" name="id" required="">
						<label>Email</label>
						<span></span>
					</div>
					<div>
						<input type="button" class="btn btn-primary" value="중복체크" id="idcheck_btn">
						<div id="idcheck"><font id="pauth2" color="red"></font></div>
					</div>

					<div class="styled-input">
						<input type="text" name="phone" id="phone" required="">
						<label>Phone</label>
						<span></span>
					</div>
					<div>
						<input type="button" class="btn btn-primary" value="번호인증" id="phone_btn"
							   data-toggle="modal">
						<!--data-target="#myModal3"-->
						<div id="phonecheck"><font id="pauth" color="red"></font></div>
					</div>


					<div class="styled-input">
						<input id="pwd1" type="password" name="password" required="">
						<label>Password</label>
						<span></span>
					</div>
					<div class="styled-input">
						<input id="pwd2" type="password" name="ConfirmPassword" required="">
						<label>Confirm Password</label>

					</div>
					<div id="success">
						<span style="color:blue; font-size: 12px">비밀번호가 일치합니다</span>
						<br/>
					</div>
					<div id="fail">
						<span style="color:red; font-size: 12px">비밀번호가 일치하지 않습니다.</span>
						<br/>
					</div>
					<div id="fail2">
						<span style="color:red; font-size: 12px">비밀번호는 특수문자 / 문자 / 숫자 포함 형태의 8자리 이상 입력</span>
						<br/>
					</div>
					<input type="button" value="Sign Up" id="submit_btn" class="btn btn-primary">
					<script>
						$("#submit_btn").click(function () {

							let exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
							let exptext2 = /^[가-힣a-zA-Z]+$/;
							/*let exptext3 = /^[0-9]+$/;*/

							// 특수문자 / 문자 / 숫자 포함 형태의 8자리 이상의 암호 정규식
							let exptext4 = /(?=.*\d{1,50})(?=.*[~`!@#%\^&*()-+=]{1,50})(?=.*[a-zA-Z]{1,50}).{8,50}$/;


							if ($("#name").val() == "") {
								alert("이름을 입력하세요.")
								return false;
							} else if (exptext2.test($("#name").val()) == false) {
								alert("이름은 영문.한글만 입력 가능합니다.")
								return false;
							} else if ($("#member_id").val().length < 4) {
								alert("이메일 형식에 아이디를 14글자 이상으로 입력하세요.")
								return false;
							} else if ($("#pauth2").attr("color") != "blue") {
								alert("아이디를 중복확인 해주세요.")
								return false;
							} else if (exptext.test($("#member_id").val()) == false) {
								alert("아이디를 이메일 형식으로 만들어주세요.")
								return false;
							} else if ($("#phone").val() == "") {
								alert("핸드폰 번호를 입력하세요.")
								return false;
							} else if ($("#pauth").attr("color") != "blue") {
								alert("휴대폰 인증을 해주세요.")
								return false;
							} else if (exptext4.test($("#pwd1").val()) == false) {
								alert("비밀번호는 특수문자 / 문자 / 숫자 포함 형태의 8자리 이상")
								return false;
							} else {
								$.ajax({
									type: "post",
									url: "/member/new",
									data: {
										id: $("#member_id").val(),
										name: $("#name").val(),
										phone: $("#phone").val(),
										pwd1: $("#pwd1").val()
									},
									datatype: "text",
									error: function (request, status, error) {
										alert("code: " + request.status + "\n" + "message: " + request.responseText + "\n" + "error: " + error);
									},
									success: function (data) {
										if (data == 1) {
											alert("중복 아이디가 존재 합니다.")
											return false;
										} else if (data == 0) {
											alert("축하드립니다. 회원가입에 성공하셨습니다.")
											$("#myModal2").modal("hide");
											/*$("#member_id").val('');
                                            $("#name").val('');
                                            $("#phone").val('');
                                            $("#pwd1").val('');
                                            $("#pwd2").val('');
                                            $("#idcheck").text('');
                                            $("#phonecheck").text('');
                                            $("#success").text('');*/
											//$("#phone_btn").show();

											return false;
										}
									},
									error: function () {    //  데이터 통신이 실패한경우
										alert("data Error");
									}
								});
							}
						});
					</script>
					<!--</form>-->
					<!--                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">-->
					<!--                        <li><a href="#" class="facebook">-->
					<!--                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>-->
					<!--                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>-->
					<!--                        </a></li>-->
					<!--                        <li><a href="#" class="twitter">-->
					<!--                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>-->
					<!--                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>-->
					<!--                        </a></li>-->
					<!--                        <li><a href="#" class="instagram">-->
					<!--                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>-->
					<!--                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>-->
					<!--                        </a></li>-->
					<!--                        <li><a href="#" class="pinterest">-->
					<!--                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>-->
					<!--                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>-->
					<!--                        </a></li>-->
					<!--                    </ul>-->
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //Modal content-->
	</div>
</div>
<!-- //Modal2 -->
<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
	<div class="container">
		<h3>C<span>ontact Us </span></h3>
		<!--/w3_short-->
		<div class="services-breadcrumb">
			<div class="agile_inner_breadcrumb">

				<ul class="w3_short">
					<li><a href="/">Home</a><i>|</i></li>
					<li>Contact</li>
				</ul>
			</div>
		</div>
		<!--//w3_short-->
	</div>
</div>
<!--/contact-->
<div class="banner_bottom_agile_info">
	<div class="container">
		<div class="contact-grid-agile-w3s">
			<div class="col-md-4 contact-grid-agile-w3">
				<div class="contact-grid-agile-w31">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<h4>Address</h4>
					<p>12K Street, 45 Building Road <span>California, USA.</span></p>
				</div>
			</div>
			<div class="col-md-4 contact-grid-agile-w3">
				<div class="contact-grid-agile-w32">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<h4>Call Us</h4>
					<p>+1234 758 839<span>+1273 748 730</span></p>
				</div>
			</div>
			<div class="col-md-4 contact-grid-agile-w3">
				<div class="contact-grid-agile-w33">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					<h4>Email</h4>
					<p><a href="mailto:info@example.com">info@example1.com</a><span><a href="mailto:info@example.com">info@example2.com</a></span>
					</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>


<!-- 서교 풍성빌딩 위치 -->
<div class="container">
	<div class="d-none d-sm-block mb-5 pb-4">
		<div id="map" style="height: 480px; position: relative; overflow: hidden;"></div>
		<script>
			function initMap() {
				var uluru = {
					lat: 37.5565426,
					lng: 126.9173599
				};

				var grayStyles = [{
					featureType: "all",
					stylers: [{
						saturation: -90
					},
						{
							lightness: 50
						}
					]
				},
					{
						elementType: 'labels.text.fill',
						stylers: [{
							color: '#ccdee9'
						}]
					}
				];

				var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 18,
					center: {lat: 37.5565426, lng: 126.9173599}
				});

				marker = new google.maps.Marker({
					map: map,
					draggable: true,
					animation: google.maps.Animation.DROP,
					position: {lat: 37.5565426, lng: 126.9173599}
				});
				marker.addListener('click', toggleBounce);

			}

			function toggleBounce() {
				if (marker.getAnimation() !== null) {
					marker.setAnimation(null);
				} else {
					marker.setAnimation(google.maps.Animation.BOUNCE);
				}
			}


		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRK2tJx4zKl-ebCa5gpSAzTnnjhl-sH-M&amp;callback=initMap">
		</script>

	</div>
</div>


<!--      <div class="contact-w3-agile1 map" data-aos="flip-right">

         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783" class="map" style="border:0" allowfullscreen=""></iframe>
      </div>-->

<div class="banner_bottom_agile_info">
	<div class="container">
		<div class="agile-contact-grids">
			<div class="agile-contact-left">
				<div class="col-md-6 address-grid">
					<h4>For More <span>Information</span></h4>
					<div class="mail-agileits-w3layouts">
						<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
						<div class="contact-right">
							<p>Telephone </p><span>+1 (100)222-23-33</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="mail-agileits-w3layouts">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<div class="contact-right">
							<p>Mail </p><a href="mailto:info@example.com">info@example.com</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="mail-agileits-w3layouts">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<div class="contact-right">
							<p>Location</p><span>7784 Diamonds street, California, US.</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<ul class="social-nav model-3d-0 footer-social w3_agile_social two contact">
						<li class="share">Share On :</li>
						<li>
							<a onclick="snsShare('facebook',window.location.href,null)">
								<img src="https://ifh.cc/g/LHqxOo.jpg" width="23" height="23">
							</a>
						</li>
						<li>
							<a onclick="snsShare('twitter',window.location.href,'쇼핑몰')">
								<img src="https://ifh.cc/g/aDLdch.jpg" width="23" height="23">
							</a>
						</li>
						<li>
							<a onclick="snsShare('kakao',window.location.href,'null')">
								<img src="https://ifh.cc/g/jQN9Dj.jpg" width="24" height="24">
							</a>
						</li>
						<a href="javascript:sendLink()">
							<img src="https://ifh.cc/g/27B9v4.png" width="23" height="23">
						</a>
						<li>
							<a onclick="clipText(window.location.href)">
								<img src="https://ifh.cc/g/86kYss.png" width="23" height="23">
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 contact-form">
					<h4 class="white-w3ls">Contact <span>Form</span></h4>
					<form action="/customer/complain" method="post">
						<div class="styled-input agile-styled-input-top">
							<input type="text" name="Name" required="">
							<label>Name</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="email" name="Email" required="">
							<label>Email</label>
							<span></span>
						</div>
						<div class="styled-input">
							<input type="text" name="Subject" required="">
							<label>Subject</label>
							<span></span>
						</div>
						<div class="styled-input">
							<textarea name="Message" required=""></textarea>
							<label>Message</label>
							<span></span>
						</div>
						<input type="submit" value="SEND">
					</form>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//contact-->
<!--/grids-->
<div class="coupons">
	<div class="coupons-grids text-center">
		<div class="w3layouts_mail_grid">
			<div class="col-md-3 w3layouts_mail_grid_left">
				<div class="w3layouts_mail_grid_left1 hvr-radial-out">
					<i class="fa fa-truck" aria-hidden="true"></i>
				</div>
				<div class="w3layouts_mail_grid_left2">
					<h3>FREE SHIPPING</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
			</div>
			<div class="col-md-3 w3layouts_mail_grid_left">
				<div class="w3layouts_mail_grid_left1 hvr-radial-out">
					<i class="fa fa-headphones" aria-hidden="true"></i>
				</div>
				<div class="w3layouts_mail_grid_left2">
					<h3>24/7 SUPPORT</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
			</div>
			<div class="col-md-3 w3layouts_mail_grid_left">
				<div class="w3layouts_mail_grid_left1 hvr-radial-out">
					<i class="fa fa-shopping-bag" aria-hidden="true"></i>
				</div>
				<div class="w3layouts_mail_grid_left2">
					<h3>MONEY BACK GUARANTEE</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
			</div>
			<div class="col-md-3 w3layouts_mail_grid_left">
				<div class="w3layouts_mail_grid_left1 hvr-radial-out">
					<i class="fa fa-gift" aria-hidden="true"></i>
				</div>
				<div class="w3layouts_mail_grid_left2">
					<h3>FREE GIFT COUPONS</h3>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>
</div>
<!--grids-->
<!-- footer -->
<div class="footer">
	<div class="footer_agile_inner_info_w3l">
		<div class="col-md-3 footer-left">
			<h2><a href="/"><span>E</span>lite Shoppy </a></h2>
			<p>Lorem ipsum quia dolor
				sit amet, consectetur, adipisci velit, sed quia non
				numquam eius modi tempora.</p>
			<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
				<li>
					<a onclick="snsShare('facebook',window.location.    href,null)">
						<img src="https://ifh.cc/g/LHqxOo.jpg" width="23" height="23">
					</a>
				</li>
				<li>
					<a onclick="snsShare('twitter',window.location.href,'쇼핑몰')">
						<img src="https://ifh.cc/g/aDLdch.jpg" width="23" height="23">
					</a>
				</li>
				<li>
					<a onclick="snsShare('kakao',window.location.href,'null')">
						<img src="https://ifh.cc/g/jQN9Dj.jpg" width="24" height="24">
					</a>
				</li>
				<li>
					<a href="javascript:sendLink()">
						<img src="https://ifh.cc/g/27B9v4.png" width="23" height="23">
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9 footer-right">
			<div class="sign-grds">
				<div class="col-md-4 sign-gd">
					<h4>Our <span>Information</span></h4>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/mens">Men's Wear</a></li>
						<li><a href="/womens">Women's wear</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/typography">Short Codes</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>

				<div class="col-md-5 sign-gd-two">
					<h4>Store <span>Information</span></h4>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+1 234 567 8901</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>Broome St, NY 10002,California, USA.

								</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 sign-gd flickr-post">
					<h4>Flickr <span>Posts</span></h4>
					<ul>
						<li><a href="/single"><img src="images/t1.jpg" alt=" " class="img-responsive"/></a></li>
						<li><a href="/single"><img src="images/t2.jpg" alt=" " class="img-responsive"/></a></li>
						<li><a href="/single"><img src="images/t3.jpg" alt=" " class="img-responsive"/></a></li>
						<li><a href="/single"><img src="images/t4.jpg" alt=" " class="img-responsive"/></a></li>
						<li><a href="/single"><img src="images/t1.jpg" alt=" " class="img-responsive"/></a></li>
						<li><a href="/single"><img src="images/t2.jpg" alt=" " class="img-responsive"/></a></li>
						<li><a href="/single"><img src="images/t3.jpg" alt=" " class="img-responsive"/></a></li>
						<li><a href="/single"><img src="images/t2.jpg" alt=" " class="img-responsive"/></a></li>
						<li><a href="/single"><img src="images/t4.jpg" alt=" " class="img-responsive"/></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="agile_newsletter_footer">
			<div class="col-sm-6 newsleft">
				<h3>SIGN UP FOR NEWSLETTER !</h3>
			</div>
			<div class="col-sm-6 newsright">
				<form action="/customer/subscribe" method="post">
					<input type="email" placeholder="Enter your email..." name="email" required="">
					<input type="submit" value="Submit">
				</form>
			</div>

			<div class="clearfix"></div>
		</div>
		<p class="copy-right">&copy 2017 Elite shoppy. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a>
		</p>
	</div>
</div>
<!-- //footer -->

<!-- login -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-info">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body modal-spa">
				<div class="login-grids">
					<div class="login">
						<div class="login-bottom">
							<h3>Sign up for free</h3>
							<form>
								<div class="sign-up">
									<h4>Email :</h4>
									<input type="text" value="Type here" onfocus="this.value = '';"
										   onblur="if (this.value == '') {this.value = 'Type here';}" required="">
								</div>
								<div class="sign-up">
									<h4>Password :</h4>
									<input type="password" value="Password" onfocus="this.value = '';"
										   onblur="if (this.value == '') {this.value = 'Password';}" required="">

								</div>
								<div class="sign-up">
									<h4>Re-type Password :</h4>
									<input type="password" value="Password" onfocus="this.value = '';"
										   onblur="if (this.value == '') {this.value = 'Password';}" required="">

								</div>
								<div class="sign-up">
									<input type="submit" value="REGISTER NOW">
								</div>

							</form>
						</div>
						<div class="login-right">
							<h3>Sign in with your account</h3>
							<form>
								<div class="sign-in">
									<h4>Email :</h4>
									<input type="text" value="Type here" onfocus="this.value = '';"
										   onblur="if (this.value == '') {this.value = 'Type here';}" required="">
								</div>
								<div class="sign-in">
									<h4>Password :</h4>
									<input type="password" value="Password" onfocus="this.value = '';"
										   onblur="if (this.value == '') {this.value = 'Password';}" required="">
									<a href="#">Forgot password?</a>
								</div>
								<div class="single-bottom">
									<input type="checkbox" id="brand" value="">
									<label for="brand"><span></span>Remember Me.</label>
								</div>
								<div class="sign-in">
									<input type="submit" value="SIGNIN">
								</div>
							</form>
						</div>
						<div class="clearfix"></div>
					</div>
					<p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy
						Policy</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //login -->
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
																		 style="opacity: 1;"> </span></a>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- cart-js -->
<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

<!-- //cart-js -->

<!-- stats -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.countup.js"></script>
<script>
	$('.counter').countUp();
</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
	$(document).ready(function () {
		/*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

		$().UItoTop({easingType: 'easeOutQuart'});

	});
</script>
<!-- //here ends scrolling icon -->

<!-- for bootstrap working -->
<script type="text/javascript" src="js/bootstrap.js"></script>

<!-- Top 버튼 -->
<a id="MOVE_TOP_BTN" href="#" title="맨 위로가기">
	<img src='https://ifh.cc/g/eutY8N.png' border='0'>
	<!--    <i class="fa-arrow-alt-to-top"></i>-->
</a>

<script>
	$(function() {
		$(window).scroll(function() {
			if ($(this).scrollTop() > 500) {
				$('#MOVE_TOP_BTN').fadeIn();
			} else {
				$('#MOVE_TOP_BTN').fadeOut();
			}
		});

		$("#MOVE_TOP_BTN").click(function() {
			$('html, body').animate({
				scrollTop : 0
			}, 500);
			return false;
		});
	});
</script>
</body>
</html>