#wrap{
    font: 0.9em Verdana,Dotum,AppleGothic,sans-serif;
    color: #353535;
    padding: 0;
    position: relative;
    width: 1200px;
    margin: 27px auto 0;
}

#container{
    margin: 0 auto;
}

#content{
    margin: 0 auto;
}

.titleArea{
    min-height: 30px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #e8e8e8;
}

.titleArea h2{
    margin: 0;
    display: inline-block;
    padding: 0 0 0 12px;
    color: #353535;
    font-size: 16px;
    background: url("//img.echosting.cafe24.com/skin/base/layout/ico_heading.gif") 0 50% no-repeat;
}