<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bodyHeader">

    <!-- header -->
    <div class="header" id="home">
        <div class="container">
            <ul>
                <li><a href="#" data-toggle="modal" data-target="#myModal" id="signBtn">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>Sign In</a></li>
                <li><a href="/admin/main"><i class="fa fa-bar-chart" aria-hidden="true"></i> 관리자 </a></li>
                <li><a href="/myPage"><i class="fa fa-bar-chart" aria-hidden="true"></i> 마이페이지 </a></li>
                <li><a href="#" data-toggle="modal" data-target="#myModal2" id="modal2_btn"><i class="fa fa-pencil-square-o"
                                                                                               aria-hidden="true"></i> Sign Up </a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a
                        href="mailto:info@example.com">info@example.com</a></li>
            </ul>
        </div>
    </div>
    <!-- //header -->
</div>