<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <!--    <title>Elite Shoppy an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home ::-->
    <!--        w3layouts</title>-->

    <title>짜증난돠</title>
    <!--/tags -->

    <!--    <meta property="og:url" content="https://devtalk.kakao.com/">-->
    <!--    <meta property="og:title" content="Kakao DevTalk_">-->
    <!--    <meta property="og:type" content="website">-->
    <!--    <meta property="og:image" content="https://devtalk.kakao.com/images/devtalk_.png">-->
    <!--    <meta property="og:description" content="카카오 데브톡. 카카오 플랫폼 서비스 관련 질문 및 답변을 올리는 개발자 커뮤니티 사이트입니다.">-->
    <!--    <meta name="description" content="카카오 데브톡. 카카오 플랫폼 서비스 관련 질문 및 답변을 올리는 개발자 커뮤니티 사이트입니다.">-->
    <!--    <meta name="keywords" content="데브톡,devtalk,카카오,디벨로퍼스,개발자,API,플랫폼">-->

    <!--    &lt;!&ndash; 페이스북 공유용 테그정보 &ndash;&gt;-->
    <!--    <meta property="og:url" content=>-->
    <!--    <meta property="og:title" content="테스트 뉴스">-->
    <!--    <meta property="og:image" content="http://imgnews.naver.net/image/001/2018/01/16/AKR20180115146300002_01_i_20180116084056132.jpg?type=w540">-->
    <!--    <meta property="og:description" content="네이버 뉴스를 테스트로 해보았습니다.">-->
    <!--    &lt;!&ndash; //페이스북 공유용 테그정보 &ndash;&gt;-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--    <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,-->
    <!--Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>-->

    <!--    <script type="application/x-javascript">-->
    <!--    </script>-->

    <!--//tags -->
    <!-- //for bootstrap working -->
    <!--    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">-->
    <!--    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'-->
    <!--          rel='stylesheet' type='text/css'>-->
</head>